# Proyek Analisis Data: [Input Nama Dataset]
- **Nama:** [Input Nama]
- **Email:** [Input Email]
- **ID Dicoding:** [Input Username]

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1
- Pertanyaan 2

## Import Semua Packages/Library yang Digunakan

In [119]:
import pandas as pd
import matplotlib.pyplot as plt

## Data Wrangling

### Gathering Data

In [110]:
df_day= pd.read_csv("/content/sample_data/day.csv")
df_hour = pd.read_csv("/content/sample_data/hour.csv")

df_day.head(), df_hour.head()

(   instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
 0        1  2011-01-01       1   0     1        0        6           0
 1        2  2011-01-02       1   0     1        0        0           0
 2        3  2011-01-03       1   0     1        0        1           1
 3        4  2011-01-04       1   0     1        0        2           1
 4        5  2011-01-05       1   0     1        0        3           1

    weathersit      temp     atemp       hum  windspeed  casual  registered  \
 0           2  0.344167  0.363625  0.805833   0.160446     331         654
 1           2  0.363478  0.353739  0.696087   0.248539     131         670
 2           1  0.196364  0.189405  0.437273   0.248309     120        1229
 3           1  0.200000  0.212122  0.590435   0.160296     108        1454
 4           1  0.226957  0.229270  0.436957   0.186900      82        1518

     cnt
 0   985
 1   801
 2  1349
 3  1562
 4  1600  ,
    instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
 0        1  2011-01-01       1   0     1   0        0        6           0
 1        2  2011-01-01       1   0     1   1        0        6           0
 2        3  2011-01-01       1   0     1   2        0        6           0
 3        4  2011-01-01       1   0     1   3        0        6           0
 4        5  2011-01-01       1   0     1   4        0        6           0

    weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
 0           1  0.24  0.2879  0.81        0.0       3          13   16
 1           1  0.22  0.2727  0.80        0.0       8          32   40
 2           1  0.22  0.2727  0.80        0.0       5          27   32
 3           1  0.24  0.2879  0.75        0.0       3          10   13
 4           1  0.24  0.2879  0.75        0.0       0           1    1  )

**Insight:**
- Dataset day.csv untuk data per hari, dan dataset hour.csv untuk rincian per jamnya
- Tidak perlu merge, kita akan menggunakan kedua tabel secara terpisah

### Assessing Data

In [111]:
# Melihat informasi setiap kolom kedua dataset
df_day.info(), df_hour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

(None, None)

Tidak ada terdeteksi ada kolom yang kosong, kita akan lanjut ke duplikasi

In [112]:
# Mengecek duplikasi
duplicate_day = df_day.duplicated().sum()
duplicate_hour = df_hour.duplicated().sum()
duplicate_day, duplicate_hour

(0, 0)

Duplikasi juga tidak ada di kedua dataset ini

**Insight:**
- Tidak ada missing values di kedua dataset.
- Tidak ada data duplikat di kedua dataset.
- Kolom data kategorikal seperti musim, cuaca dll. diubah ke bentuk angka
- Jenis-jenis tipe data setiap kolomnya sudah sesuai, kecuali pada kolom dteday (object)

### Cleaning Data

Kita perbaiki tipe data yang tidak sesuai dulu, sebelum yang lain di olah

In [113]:
#Ubah kolom dteday dari object ke datetime,
df_day['dteday'] = pd.to_datetime(df_day['dteday'])
df_hour['dteday'] = pd.to_datetime(df_hour['dteday'])

Setelah dteday ubah ke format tanggal, kita akan mengganti kolom "yr" dari [0,1] ke [2011,2012]

In [114]:
# 2. Konversi kolom 'yr' menjadi tahun sebenarnya (0 -> 2011, 1 -> 2012)
df_day['yr'] = df_day['yr'].map({0: 2011, 1: 2012})
df_hour['yr'] = df_hour['yr'].map({0: 2011, 1: 2012})
df_day["yr"].head(3), df_hour["yr"].tail(3)

(0    2011
 1    2011
 2    2011
 Name: yr, dtype: int64,
 17376    2012
 17377    2012
 17378    2012
 Name: yr, dtype: int64)

Kolom yr sudah di ubah, saatnya kita ubah kolom bentuk kategori angka [Season, Weekly, Weathersit] ke dalam bentuk label yang lebih mudah di baca

In [115]:
# 3 Ubah kategori angka menjadi label, kita gunakan map
season_map = {1: 'Spring', 2: 'Summer', 3: 'Fall', 4: 'Winter'}
weekday_map = {0: 'Sunday', 1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday'}
weathersit_map = {1: 'Clear', 2: 'Cloudy', 3: 'Light Rain/Snow', 4: 'Heavy Rain/Snow'}

Pelabelannya sudah sesuai, kita gunakan bahasa inggris agar sesuai, selanjutnya kita aplikasikan ke kedua dataset

In [116]:
df_day['season'] = df_day['season'].map(season_map)
df_day['weekday'] = df_day['weekday'].map(weekday_map)
df_day['weathersit'] = df_day['weathersit'].map(weathersit_map)

df_hour['season'] = df_hour['season'].map(season_map)
df_hour['weekday'] = df_hour['weekday'].map(weekday_map)
df_hour['weathersit'] = df_hour['weathersit'].map(weathersit_map)

df_day[['season', 'weekday', 'weathersit']].head(5), df_hour[['season', 'weekday', 'weathersit']].head(5)

(   season    weekday weathersit
 0  Spring   Saturday     Cloudy
 1  Spring     Sunday     Cloudy
 2  Spring     Monday      Clear
 3  Spring    Tuesday      Clear
 4  Spring  Wednesday      Clear,
    season   weekday weathersit
 0  Spring  Saturday      Clear
 1  Spring  Saturday      Clear
 2  Spring  Saturday      Clear
 3  Spring  Saturday      Clear
 4  Spring  Saturday      Clear)

Kolom kategorikal nya sudah lebih mudah di baca, terakhir kita akan mengecek kolom [Casual, Registered, Cnt]. Total [Casual + Registered] harus sesuai dengan jumlah [Cnt]

In [117]:
# 5. Simpan penjumlahan casual + registered pada sebuah variabel
df_day['cnt_check'] = df_day['casual'] + df_day['registered']
df_hour['cnt_check'] = df_hour['casual'] + df_hour['registered']

In [118]:
# Cek apakah ada perbedaan miskalkulasi
cnt_mismatch_day = (df_day['cnt'] != df_day['cnt_check']).sum()
cnt_mismatch_hour = (df_hour['cnt'] != df_hour['cnt_check']).sum()
cnt_mismatch_day, cnt_mismatch_hour

(0, 0)

Tidak ada miskalkulasi pada total registered dan casual

**Insight:**
- Format seluruh kolom telah sesuai
- Data kategorikal lebih mudah di pahami karena sudah di pindah ke bentuk label
- Tidak ada miskalkulasi pada kolom Cnt
- Untuk kolom dengan nilai skala numerik (temp,hump dll)  tak perlu kita ubah, karena sudah di normalisasi dan bisa langsung di gunakan dengan mudah

## Exploratory Data Analysis (EDA)

### Explore ...

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2